$main-color:#C7D6D5;
$nav-color: #0C120C;
$yellow: #FFB20F;

//breakpoints
$screen-sm-min: 688px;
$screen-md-min: 768px;
$screen-lg-min: 992px;


// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



//navigation section
.navbar {
    background-color: $nav-color!important;
    padding-bottom: 0.9rem;

        @include sm {
            padding-bottom: 0.5rem;
        }

    button {
        margin-left: 1rem;

        svg{ // x icon 
            color: $yellow;
            width: 30px!important;
            height: 30px!important;
        }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    }

    .navlist {
        
        justify-content: flex-end;

        .navbar-nav {
            margin-left: 1rem;
            flex-direction: row;


            a {
                   color: $main-color!important;
                   font-weight: 500;
                   font-size: 1rem;
                   margin: 0.5rem 0.5rem;
            }

            a:hover {
                   color:$yellow!important;
            }
            
        }
    }

    .modalBtn {

        margin-right: 1rem;
        padding: 0;
        background-color: $nav-color!important;
        border: none;


        svg {
            color: $main-color;
        }

    }

    .modalBtn:hover {

        svg{
            color: $yellow!important;

        }
    }

    .modalBtn:active,.modalBtn:focus {
        outline: none;
        box-shadow: none;
    }

}

.modal {

   
        .modal-header{
            justify-content: center!important;
            border:none;
            background-color: $nav-color;

            .modal-title {
                font-size:1.2rem;
                color: $main-color;

                @include sm {
                    font-size: 1.5rem;
                }
            }
    
            svg{
                margin-left: 0.8rem;
                color: $yellow;
                font-size: 2rem;
            }
        }
    
        .modal-body {
            text-align: center;
            background-color: $nav-color;
            color: $main-color;
            padding-bottom: 0;

            .modalLinks {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding:0 1rem;

                @include sm {
                    padding: 0 4rem;
                }

                .modal-link{

                    a{
                        background-color: $nav-color;
                        border: none;
                        
                        svg{
                            font-size: 2.3rem;
                            color: $main-color;
                        }
    
                        svg:hover {
                            color: $yellow;
                        }
                    }
    
                    a:focus,a:active {
                        outline: none;
                        box-shadow: none;
                    }

                    p{
                        color: $yellow;
                        font-weight: 500;
                    }
                }



            }

            .modal-resume {
                margin-top: 1rem;
                

                svg {
                    color: $yellow;
                }

                a {
                    color:$yellow;
                    text-decoration: none;
                    font-weight: 500;
                    margin-left: 0.5rem;
                }
                
                a:hover {
                    color: $main-color;
                }


            }
            
        }
    
        .modal-footer {
            padding:0.2rem;
            border: none;
            background-color: $nav-color;

            button {
                background-color: $main-color;
                color: $nav-color;
                font-weight: 500;

            }

            button:hover {
                background-color: $nav-color;
                color: $main-color;
                border:1px solid $yellow;

                svg {
                    color:$yellow;
                }
            }

        }
    

}


// welcome section
.intro {
    text-align: center;
    background-color: $main-color;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content: center;
    

    h1{
        font-size: 2rem;
    }

    p{
        font-weight: 500;
        color: $nav-color;
    }

}

//projects section
.project-section {
    background-color:$nav-color;
    color: $main-color;
    height: 100vh;
}

//contact section
.contact-section {
    @extend .intro;
    flex-direction: column;
    justify-content: center;

    .contact-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        h1 {
            margin: 0;

            span {
                color: $yellow;
            }

        }

        svg {
            font-size: 2rem;
            margin:0.2rem 0 0 0.5rem;
        }
    }

    .contactLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;

        .contact-link {

            padding: 1rem 0.5rem;

            @include sm {
                padding: 1rem 1rem;  
            }

            a {
                background-color: $main-color;
                border: none;
                color: $nav-color;

                svg {
                    font-size: 2.5rem;
                }
            }

            a:hover {
                color: $yellow;
            }

            a:active,a:focus {
                outline: none;
                box-shadow: none;
            }
            
        }
    }

    .contact-footer {
        display: flex;
        flex-direction: column;

        .contact-footer-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 2rem;

            svg {
                font-size:1.5rem;
                margin-right: 0.5rem;
                background-color: $nav-color;
                color: $main-color;
            }
    
            a {
                color: $nav-color;
                font-weight: 600;
                text-decoration: none;
    
            }
    
            a:hover {
                color: $yellow;
            }

 
        }

        .resume {

            svg {
                background-color: $main-color;
                color: $nav-color;
                font-size: 1.2rem;
            }
        }
    }

}
//footer section
footer {
    margin-top: auto; //this keeps the footer at the bottom
    background-color: #0C120C;

    p{
        margin: 0.5rem 0;
        color: $main-color;
        font-weight: 500;
    }
}