//Color Theme
$main-color:#C7D6D5;
$sub-color: #0C120C;
$yellow: #FFB20F;

//google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
$main-font:'Raleway', sans-serif;

//breakpoints
$screen-sm-min: 688px;
$screen-md-min: 768px;
$screen-lg-min: 992px;


// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

body {
    background-color: $main-color!important;
}

//navigation section
.navbar {
    background-color: $sub-color!important;
    padding-bottom: 0.9rem;
    font-family: $main-font;
    font-weight: 400;

        @include sm {
            padding-bottom: 0.5rem;
        }

    button {
        margin-left: 1rem;

        svg{ // x icon 
            color: $yellow;
            width: 30px!important;
            height: 30px!important;
        }
    }

    .navbar-brand {
        margin: 0;
        padding: 0;

        img {
            height: 50px;
            width: 110px;
        }
    }

    .navbar-toggler {
        margin: 0;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    }

    .navlist {
        
        justify-content: flex-end;

        .navbar-nav {
            margin-left: 1rem;
            flex-direction: row;


            a {
                   color: $main-color!important;
                   font-weight: 500;
                   font-size: 1rem;
                   margin: 0.5rem 0.5rem;
            }

            a:hover {
                   color:$yellow!important;
            }
            
        }
    }

    .modalBtn {

        margin-right: 1rem;
        padding: 0;
        background-color: $sub-color!important;
        border: none;


        svg {
            color: $main-color;
        }

    }

    .modalBtn:hover {

        svg{
            color: $yellow!important;

        }
    }

    .modalBtn:active,.modalBtn:focus {
        outline: none;
        box-shadow: none;
    }

}

.modal {
    font-family: $main-font;

   
        .modal-header{
            justify-content: center!important;
            border:none;
            background-color: $sub-color;
            font-weight: 400;

            .modal-title {
                font-size:1.2rem;
                color: $main-color;

                @include sm {
                    font-size: 1.5rem;
                }
            }
    
            svg{
                margin-left: 0.8rem;
                color: $yellow;
                font-size: 2rem;
            }
        }
    
        .modal-body {
            text-align: center;
            background-color: $sub-color;
            color: $main-color;
            padding-bottom: 0;
            font-weight: 200;

            .modalLinks {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding:0 1rem;

                @include sm {
                    padding: 0 4rem;
                }

                .modal-link{

                    a{
                        background-color: $sub-color;
                        border: none;
                        
                        svg{
                            font-size: 2.3rem;
                            color: $main-color;
                        }
    
                        svg:hover {
                            color: $yellow;
                        }
                    }
    
                    a:focus,a:active {
                        outline: none;
                        box-shadow: none;
                    }

                    p{
                        color: $yellow;
                        font-weight: 500;
                    }
                }



            }

            .modal-resume {
                margin-top: 1rem;
                

                svg {
                    color: $yellow;
                }

                a {
                    color:$yellow;
                    text-decoration: none;
                    font-weight: 300;
                    margin-left: 0.5rem;
                }
                
                a:hover {
                    color: $main-color;
                }


            }
            
        }
    
        .modal-footer {
            padding:0.2rem;
            border: none;
            background-color: $sub-color;
            font-weight: 400;

            button {
                background-color: $main-color;
                color: $sub-color;
                

            }

            button:hover {
                background-color: $sub-color;
                color: $main-color;
                border:1px solid $yellow;

                svg {
                    color:$yellow;
                }
            }

        }
    

}


// welcome section
.intro {
    text-align: center;
    background-color: $main-color;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content: center;
    

  

    .intro-header {
        margin-bottom: 1rem;
      

        img {
            height:100px ;
            width:280px ;
        }

        h1{
            font-size: 2rem;
            font-family: $main-font;
            font-weight: 200;
            color: $sub-color;

        }
    }

    .intro-footer {
       

        svg{
            margin-bottom: 0.5rem!important;
            color: $sub-color;
        }

        p{
            font-weight: 400;
            color: $sub-color;
            font-family: $main-font;
            font-size: 1.2rem;
        }    
    }

}

//projects section
.project-section {
    background-color:$sub-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    font-family: $main-font;
    color: $main-color!important;

    .project-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        h1{
            margin-top:5rem;
            font-weight: 200;

            @include md {
                margin: 5rem 0 1rem 0;
            }
        }

        p {
            text-align: center;
            margin:0;
            padding: 0 1rem;
            font-weight: 200;
            z-index: -1;
        }
    }

    .project-body{

      width: 100vw;
      margin-bottom: 3rem;

      h3{
          margin-bottom: 1.5rem;
          font-weight: 200;
          color: $main-color;
          font-size: 1.5rem;

          @include sm {
              font-size: 2rem;
          }

          span {
            color: $yellow;
        }

      }

      span {
          color: $main-color;
      }
    
     

        .project-btn {
            justify-content: center;


            a {
                background-color: transparent;
                border: none;

                svg {
                    font-size: 2rem;
                    color: $main-color;
                }

                svg:hover {
                    color: $yellow;
                }
            }

            a:focus,a:active {
                outline: none;
                box-shadow: none;
            }
        }

       .proj{
           width:100vw;
           height:70vh;
           background-color: $sub-color;
           display: flex;
           align-items: flex-start;

           @include sm {
               align-items:center;
           }
          


           
            img{
                margin: 10rem auto 0 auto;
                max-height: 70vh;
                width: 70vw;

                @include md {
                    width:50vw;
                    margin: 5rem auto;
                }    
            }

            .p2 {
                width:40vw!important;
                height: 170px;
                padding-bottom: 4rem;

                @include sm {
                    width:20vw!important;
                    height: 230px!important;
                }
            }

            .more {
                width:50vw!important;
                height: 25vw;

                @include sm {
                    width:20vw!important;
                    height: 10vw;
                }
            }
       }

       .description {
           margin-bottom: 3rem;

           @include sm {
            margin-bottom: 2rem;
           }
       }
    }
}

//contact section
.contact-section {
    @extend .intro;
    flex-direction: column;
    justify-content: center;
    font-family: $main-font;

    .contact-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        font-weight: 400;

        h1 {
            margin: 0;
            font-size:2rem;

            @include md {
                font-size: 3rem;
            }

            span {
                color: $yellow;
            }

        }

        svg {
            font-size: 2rem;
            margin:0.2rem 0 0 0.5rem;
        }
    }

    .contactLinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;

        .contact-link {

            padding: 1rem 0;

            @include sm {
                padding: 1rem 1rem;  
            }

            a {
                background-color: $main-color;
                border: none;
                color: $sub-color;

                svg {
                    font-size: 2.5rem;
                }
            }

            a:hover {
                color: $yellow;
            }

            a:active,a:focus {
                outline: none;
                box-shadow: none;
            }
            
        }
    }

    .contact-footer {
        display: flex;
        flex-direction: column;
        font-weight: 200;

        .contact-footer-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 2rem;

            svg {
                font-size:1.4rem;
                margin-right: 0.5rem;
                background-color: $main-color;
                color: $sub-color;
            }
    
            a {
                color: $sub-color;
                text-decoration: none;
    
            }
    
            a:hover {
                color: $yellow;
            }

 
        }

        .resume {

            svg {
                background-color: $main-color;
                color: $sub-color;
                font-size: 1.2rem;
            }
        }
    }

}
//footer section
footer {
    margin-top: auto; //this keeps the footer at the bottom
    background-color: #0C120C;
    display: flex;
    flex-direction: row;
    font-family: $main-font;
    font-weight: 400;

    img {
        margin: 0.5rem 0.5rem;
        height: 40px;
        width:80px;
    }

    p{
        margin: 0.5rem 0;
        color: $main-color;
        font-weight: 500;
        display: inline;
    }
}

//fade in animation when on view css
.fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 1500ms ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }