  $main-color:#C7D6D5;
  $nav-color: #0C120C;
  $yellow: #FFB20F;

.navbar {
    background-color: $nav-color!important;

    button {
        margin-left:1rem;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    }

    .navlist {
        
        justify-content: flex-end;

        .navbar-nav {

            flex-direction: row;


            a {
                   color: $main-color!important;
                   font-weight: 500;
                   font-size: 1rem;
                   margin: 0.5rem 0.5rem;
            }

            a:hover {
                   color:$yellow!important;
            }
            
        }
    }

}



.intro {
    text-align: center;
    background-color: $main-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;

    h1{
        font-size: 2rem;
    }

    p{
        font-weight: 500;
        color: $nav-color;
    }

}

footer {
    margin-top: auto; //this keeps the footer at the bottom
    background-color: #0C120C;

    p{
        margin: 0.5rem 0;
        color: $main-color;
        font-weight: 500;
    }
}